.basic-container {
  padding: 30px;
  height: 100%;
}

.layout-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.layout-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.lower-row {
  max-height: 200px;

  div {
    margin: 5px;
  }
}

.result-list {
  width: 300px;
  height: 180px;
  border: 1px solid black;
}

.search-result {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  text-overflow: ellipsis;
}

.selected-search-result {
  background-color: red;
}

.result-poster {
  height: 100px;
}

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;

  mat-progress-spinner {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
}
