.layout-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.layout-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.upper-row {

  & > * {
    width: 300px;
    margin: 5px;
  }
}

.favorite-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.favorite {
  display: table-cell;
  padding: 5px;
  border: 1px solid black;
}

.lower-row {
  max-height: 200px;

  div {
    margin: 5px;
  }
}

.result-list {
  width: 300px;
  height: 180px;
  border: 1px solid black;
}

.search-result {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.selected-search-result {
  background-color: lightseagreen;
}

.result-poster {
  height: 180px;
  float: left;
  padding-right: 5px;
}
