  <div class="layout-rows">
    <div class="layout-row upper-row">
      <mat-form-field appearance="outline">
        <mat-label>Search filter</mat-label>
        <input matInput (input)="onInput($event.target.value)" placeholder="Type at least three characters...">
        <mat-icon matSuffix (click)="addFavorite()">{{ favoriteIcon$ | async }}</mat-icon>
      </mat-form-field>
      <div>
        <h3>Your 3 most favorite searches</h3>
        <div class="favorite-container">
          <div *ngFor="let favorite of favorites$ | async" class="favorite" (click)="incrementFavorite(favorite.term)">{{ favorite.term }}({{ favorite.count }})</div>
        </div>
      </div>
    </div>
    <div class="layout-row lower-row">
      <div>
        <h2>Search results</h2>
        <h3>Movies, series, episodes</h3>
        <cdk-virtual-scroll-viewport (scrolledIndexChange)="onScrollIndexChange()" class="result-list"
          itemSize="30">
          <div *cdkVirtualFor="let result of results$ | async"
            (click)="showDetail(result)"
            [ngClass]="{'search-result': true }">
            {{result.title}}</div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="result-details">
        <ng-container *ngIf="details$ | async as details; else noSearchResultSelected">
          <h2>{{ details.title }}</h2>
          <h3>{{ details.year}} / {{ details.director }}</h3>
          <img *ngIf="!!details.poster" [src]="details.poster" alt="{{ details.title }} theatrical poster"
            class="result-poster">
          <p>{{ details.plot }}</p>
        </ng-container>
        <ng-template #noSearchResultSelected>
          <h2>[No search result selected]</h2>
        </ng-template>
      </div>
    </div>
  </div>
